<a href="https://colab.research.google.com/github/luis-gustav0/Repository_A/blob/main/Projeto_desafio_2_administra%C3%A7%C3%A3o_de_condom%C3%ADnios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dados = pd.read_json('/content/dados_locacao_imoveis.json')

In [ ]:
dados = pd.json_normalize(dados['dados_locacao'])

In [ ]:
dados.head(10)

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel,atraso
0,A101,2022-06-01,2022-06-05,1000.0,4
1,A101,2022-07-01,2022-07-03,2500.0,2
2,A102,2022-06-02,2022-06-02,1100.0,0
3,A102,2022-07-02,2022-07-06,2600.0,4
4,B201,2022-06-03,2022-06-07,1200.0,4
5,B201,2022-07-03,2022-07-03,2700.0,0
6,B202,2022-06-04,2022-06-07,1300.0,3
7,B202,2022-07-04,2022-07-05,2800.0,1
8,C301,2022-06-05,2022-06-10,1400.0,5
9,C301,2022-07-05,2022-07-09,2900.0,4

In [ ]:
columns_names = dados.columns.to_list()

In [ ]:
dados = dados.explode(columns_names[1:])

In [ ]:
dados.reset_index(drop=True, inplace=True)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     datetime64[ns]
 2   datas_de_pagamento          30 non-null     datetime64[ns]
 3   valor_aluguel               30 non-null     float64
 4   atraso                      30 non-null     int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 1.3+ KB

In [ ]:
dados['valor_aluguel'] = dados['valor_aluguel'].apply(lambda x: x.replace('$','').replace(',','.').replace('reais','').strip()).astype(np.float64)

In [ ]:
dados['apartamento'] = dados['apartamento'].str.replace('(blocoAP)','')

# Realizar a substituição dos dados na coluna textual
# dados['apartamento'] = dados['apartamento'].str.replace(' \(blocoAP\)', '', regex=True)

In [ ]:
date_columns = ['datas_combinadas_pagamento', 'datas_de_pagamento']

In [ ]:
dados[date_columns] = dados[date_columns].apply(pd.to_datetime, format='%d/%m/%Y')

In [ ]:
dados['atraso'] = (dados['datas_de_pagamento'] - dados['datas_combinadas_pagamento']).dt.days

In [ ]:
media_atraso = dados.groupby(dados['apartamento'])['atraso'].mean()
media_atraso

apartamento
A101     3.0
A102     2.0
B201     2.0
B202     2.0
C301     4.5
C302     4.0
D401     1.0
D402     4.0
E501     0.5
E502     4.0
F601     4.0
F602     1.5
G701     6.5
G702     2.0
H801     2.0
Name: atraso, dtype: float64